# Ausgaben von Latex
*.aux
*.log
*.out
*.toc
script.pdf # Nur als Github-Download anbieten!
# Auctex spezifisches Verzeichnis
auto/**
*.synctex.gz
# Emacs's Backupdateien
\#*#
# vim's Backupdateien
*~
*.swp
